<form>
    <input class="new-card form-control" id="card-title" type="text" name="card[title]" placeholder="New Task">
    <button class="submit btn add"><span class="glyphicon glyphicon-plus"></span></button>
</form>