<h2 class="board-show"><%= board.escape("title") %></h2>
<div class="list-new"></div>
<button class="destroy board">Remove Project</button>
<div class="lists-buffer"></div>
<div class="lists"></div>

<br>
<a href="#/"><button class="exit">Projects</button></a>