<form>
<div class="list-form">
    <input class="new-list form-control" type="text" name="list[title]" placeholder="New Goal" id="list_title">
  
    <button class="submit btn add"><span class="glyphicon glyphicon-plus"></span></button>
  </div>
  <input type="hidden" name="list[board_id]" value="<%= board.id %>">
</form>