<div class="header">
  <div class="logo-head"><img class="logo-head" src="/images/crossoff2.png"></div>
  
  <h2><%= current_user.email %></h2>
  <%= button_to "Log out", session_url, method: :delete, class: "exit logout" %>

  <li></li>
</div>

